body { background-color: #f6f6f6; } 
form { padding: 30px; } 
input { 
    display: block; 
    margin-top: 10px; 
    padding: 10px; 
    font-size: 15px; 
    color: #333333;
    border: 1px solid #555555;
    border-radius: 5px;
}